<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/" class="<%= path === '/' ? 'active' : ''%>">Shop</a>
      </li>
      <li class="main-header__item">
        <a
          class="<%= path.startsWith('/products') ? 'active' : ''%>"
          href="/products"
          >Products</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/carts' ? 'active' : ''%>" href="/carts"
          >Carts</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/orders' ? 'active' : ''%>" href="/orders"
          >Orders</a
        >
      </li>
      <% if (isAuthenticated) { %>
        <li class="main-header__item">
          <a
            class="<%= path === '/add-product' ? 'active' : ''%>"
            href="/add-product"
            >Add Product</a
          >
        </li>
        <li class="main-header__item">
          <a
            class="<%= path === '/all-products' ? 'active' : ''%>"
            href="/all-products"
            >Store</a
          >
        </li>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <li class="main-header__item">
          <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
      </li>
  </ul>
  </nav>
</header>
