<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/shop.css" />
<link rel="stylesheet" href="/css/cart.css" />
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main id="cart-main">
    <div class="cart">
      <h1>Your Cart</h1>
      <% if (products.length > 0) { %>
        <ul>
          <% for (let product of products) { %>
            <li>
              <%= product.title %> (<%= product.qty %>) - $<%= product.price %>
              <div class="quantity-controls">
                <form action="/carts" method="POST">
                  <input type="hidden" name="productId" value="<%= product._id %>">
                  <input type="hidden" name="action" value="decrease">
                  <button type="submit" <%= product.qty === 1 ? 'disabled' : '' %>>-</button>
                </form>
                <form action="/carts" method="POST">
                  <input type="hidden" name="productId" value="<%= product._id %>">
                  <input type="hidden" name="action" value="increase">
                  <button type="submit">+</button>
                </form>
              </div>
              <form action="/remove-from-cart" method="POST">
                <input type="hidden" name="productId" value="<%= product._id %>">
                <button type="submit">Remove</button>
              </form>
            </li>
          <% } %>
        </ul>
        <p>Total Price: $<%= totalPrice %></p>
        <br />
        <div style="display: flex; justify-content: center;">
            <form action="/create-order" method="POST">
                <button type="submit" class="btn">Order Now!</button>
            </form>
        </div>
      <% } else { %>
        <p>Your cart is empty.</p>
      <% } %>      
    </div>
  </main>
  <%- include('../includes/end.ejs') %>